{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<style>
    .logo {
        max-width: 200px;
    }
</style>
{% endblock %}

{% block extra_head_scripts %}

{% endblock %}
{% block content %}
    <div class="container">
        <form id="swarm" method="post" class="mt-4" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div id="dep_env_swarm" class="card h-100">
                        <div class="card-body row">
                            <div class="col-md-4 align-content-center text-center">
                                <img src="{% static 'img/tesla_ce_with_text.png' %}" class="img-fluid rounded-start logo" alt="TeSLA CE logo">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">TeSLA CE Basic Information</h5>
                                <div class="form-group mb-2">
                                    <label for="{{ form.institution_name.id_for_label }}">Institution Name</label>
                                    {{ form.institution_name|add_class:"form-control"|attr:"aria-describedby: institution_nameHelp"|attr:"placeholder: Institution name"}}
                                    <small id="institution_nameHelp" class="form-text text-muted">Name of the default institution TeSLA is deployed for.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.institution_acronym.id_for_label }}">Institution Acronym</label>
                                    {{ form.institution_acronym|add_class:"form-control"|attr:"aria-describedby: institution_acronymHelp"|attr:"placeholder: Institution acronym"}}
                                    <small id="institution_acronymHelp" class="form-text text-muted">Acronym of the default institution TeSLA is deployed for.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.admin_email.id_for_label }}">Administrator eMail</label>
                                    {{ form.admin_email|add_class:"form-control"|attr:"type : email"|attr:"aria-describedby: admin_emailHelp"|attr:"placeholder: Administrator email"}}
                                    <small id="admin_emailHelp" class="form-text text-muted">Email of the administrator.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.base_domain.id_for_label }}">Base domain name</label>
                                    {{ form.base_domain|add_class:"form-control"|attr:"aria-describedby: base_domainHelp"|attr:"placeholder: Domain"}}
                                    <small id="base_domainHelp" class="form-text text-muted">Root domain used for TeSLA CE.</small>
                                </div>
                                {% if options.mode == 'development' %}
                                    <div class="form-group mb-2">
                                        <label for="{{ form.data_path.id_for_label }}">Data Path</label>
                                        {{ form.data_path|add_class:"form-control"|attr:"aria-describedby: data_pathHelp"|attr:"placeholder: Data Path"}}
                                        <small id="data_pathHelp" class="form-text text-muted">Root path where data will be persisted. Must be available and shared by all nodes.</small>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="actions" class="mt-4 text-center">
            <button type="submit" class="btn btn-success action-btn">Next</button>
        </div>
    </div>
{% endblock %}
{% block js %}
{% csrf_token %}
<script>
    // CSRF value
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    $(function() {
        $(".action-btn").click(function (env) {
           const action = this.dataset['action'];
           let data = $('form').serializeArray();
           $.ajax({
               url: '',
               method: 'POST',
               headers: {'X-CSRFToken': csrftoken},
               data: data,
               success: function(data) {
                   if (data.hasOwnProperty('redirect_url')) {
                       $(location).attr("href", data['redirect_url']);
                   } else {
                       console.log(data['errors'])
                   }
               }
           });
        });
    });
</script>
{% endblock %}
