{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<style>
    .logo {
        max-width: 200px;
    }
</style>
{% endblock %}

{% block extra_head_scripts %}

{% endblock %}
{% block content %}
    <div class="container">
    {% if options.environment == 'nomad_consul' %}
        <form id="nomad_consul" method="post" class="mt-4" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div class="card h-100">
                        <div class="card-body row">
                            <div class="col-md-4 align-content-center text-center">
                                <img src="{% static 'img/Nomad_VerticalLogo_Color_RGB.png' %}" class="img-fluid rounded-start logo" alt="Nomad logo">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Nomad configuration</h5>
                                <div class="form-group mb-2">
                                    <label for="nomad_addr">Address</label>
                                    {{ form.nomad_addr|add_class:"form-control"|attr:"type : url"|attr:"aria-describedby: nomad_addrHelp"|attr:"placeholder: Address"}}
                                    <small id="nomad_addrHelp" class="form-text text-muted">Full address with schema and port to connect with Nomad Client</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="nomad_datacenters">Datacenters</label>
                                    {{ form.nomad_datacenters|add_class:"form-control"|attr:"aria-describedby: nomad_datacentersHelp"|attr:"placeholder: Datacenters"}}
                                    <small id="nomad_datacentersHelp" class="form-text text-muted">Comma-separated list of datacenters for deployment</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="nomad_region">Region</label>
                                    {{ form.nomad_region|add_class:"form-control"|attr:"aria-describedby: nomad_regionHelp"|attr:"placeholder: Region"}}
                                    <small id="nomad_regionHelp" class="form-text text-muted">Region</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label>Authentication</label>
                                    <br>
                                    {% for radio in form.nomad_authOptions %}
                                        <div class="form-check form-check-inline">
                                            {{ radio.tag }}
                                            <label class="form-check-label" for="id_nomad_authOptions_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group mb-2 ml-2" id="nomad_acl_token_div">
                                    <label for="nomad_acl_token">ACL Token</label>
                                    <div class="input-group">
                                        {{ form.nomad_acl_token|add_class:"form-control"|attr:"aria-describedby: nomad_acl_tokenHelp"|attr:"placeholder: Token"}}
                                        <div class="input-group-prepend">
                                            <div class="input-group-text toggle-password">
                                                <i class="bi bi-eye bi-eye-slash"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <small id="nomad_acl_tokenHelp" class="form-text text-muted">To use automatic deployment the token should be able to register new jobs.</small>
                                </div>
                                <a href="#" data-action="test_nomad" class="btn btn-success action-btn disabled">Test</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt-2">
                    <div class="card h-100">
                        <div class="card-body row">
                            <div class="col-md-4 align-content-center text-center">
                                <img src="{% static 'img/Consul_VerticalLogo_Color_RGB.png' %}" class="img-fluid rounded-start logo" alt="Consul logo">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Consul Configuration</h5>
                                <div class="form-group mb-2">
                                    <label for="consul_addr">Address</label>
                                    {{ form.consul_addr|add_class:"form-control"|attr:"type : url"|attr:"aria-describedby: consul_addrHelp"|attr:"placeholder: Address"}}
                                    <small id="consul_addrHelp" class="form-text text-muted">Full address with schema and port to connect with Consul Client</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label>Authentication</label>
                                    <br>
                                    {% for radio in form.consul_authOptions %}
                                        <div class="form-check form-check-inline">
                                            {{ radio.tag }}
                                            <label class="form-check-label" for="id_consul_authOptions_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group mb-2" id="consul_acl_token_div">
                                    <label for="consul_acl_token">ACL Token</label>
                                    <div class="input-group">
                                        {{ form.consul_acl_token|add_class:"form-control"|attr:"aria-describedby: consul_acl_tokenHelp"|attr:"placeholder: Token"}}
                                        <div class="input-group-prepend">
                                            <div class="input-group-text toggle-password">
                                                <i class="bi bi-eye bi-eye-slash"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <small id="consul_acl_tokenHelp" class="form-text text-muted">Needs permissions to access the status of deployed services.</small>
                                </div>
                                <a href="#" data-action="test_consul" class="btn btn-success action-btn disabled">Test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% elif options.environment == 'swarm' %}
        <form id="swarm" method="post" class="mt-4" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div id="dep_env_swarm" class="card h-100 deployment_env">
                        <div class="card-body row">
                            <div class="col-md-4 align-content-center text-center">
                                <img src="{% static 'img/docker-logo-png-transparent.png' %}" class="img-fluid rounded-start logo" alt="Docker logo">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">Docker Configuration</h5>
                                <div class="form-group mb-2">
                                    <label for="consul_addr">Service prefix</label>
                                    {{ form.swarm_service_prefix|add_class:"form-control"|attr:"aria-describedby: swarm_service_prefixHelp"|attr:"placeholder: Base url"}}
                                    <small id="swarm_service_prefixHelp" class="form-text text-muted">Prefix to all TeSLA CE services.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="consul_addr">Address</label>
                                    {{ form.swarm_base_url|add_class:"form-control"|attr:"aria-describedby: swarm_base_urlHelp"|attr:"placeholder: Base url"}}
                                    <small id="swarm_base_urlHelp" class="form-text text-muted">URL to the Docker server. For example, unix:///var/run/docker.sock or tcp://127.0.0.1:1234.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="consul_addr">Client key</label>
                                    {{ form.swarm_client_key|add_class:"form-control"|attr:"aria-describedby: swarm_client_keyHelp"|attr:"placeholder: Client key"}}
                                    <small id="swarm_client_keyHelp" class="form-text text-muted">Content of client key.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="consul_addr">Client certificate</label>
                                    {{ form.swarm_client_cert|add_class:"form-control"|attr:"aria-describedby: swarm_client_certHelp"|attr:"placeholder: Client certificate"}}
                                    <small id="swarm_client_certHelp" class="form-text text-muted">Content of client key.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="consul_addr">Specific CA certificate</label>
                                    {{ form.swarm_specific_ca_cert|add_class:"form-control"|attr:"aria-describedby: swarm_client_certHelp"|attr:"placeholder: Specific CA certificate"}}
                                    <small id="swarm_client_certHelp" class="form-text text-muted">Content specific CA certificate.</small>
                                </div>

                                <div class="form-group mb-2">
                                    <label>Authentication</label>
                                    <br>
                                    {% for radio in form.consul_authOptions %}
                                    <div class="form-check form-check-inline">
                                        {{ radio.tag }}
                                        <label class="form-check-label" for="id_consul_authOptions_{{ forloop.counter0 }}">{{ radio.choice_label }}</label>
                                    </div>
                                    {% endfor %}
                                </div>
                                <div class="form-group mb-2" id="consul_acl_token_div">
                                    <label for="consul_acl_token">ACL Token</label>
                                    <div class="input-group">
                                        {{ form.consul_acl_token|add_class:"form-control"|attr:"aria-describedby: consul_acl_tokenHelp"|attr:"placeholder: Token"}}
                                        <div class="input-group-prepend">
                                            <div class="input-group-text toggle-password">
                                                <i class="bi bi-eye bi-eye-slash"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <small id="consul_acl_tokenHelp" class="form-text text-muted">Needs permissions to access the status of deployed services.</small>
                                </div>
                                <a href="#" data-action="test_consul" class="btn btn-success action-btn disabled">Test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    {% else %}
        Invalid options
    {% endif %}
        <div id="actions" class="mt-4 text-center">
            <button type="submit" class="btn btn-success action-btn">Next</button>
        </div>
    </div>
{% endblock %}
{% block js %}
{% csrf_token %}
<script>
    // CSRF value
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    function get_nomad_auth() {
        const selected = $("input[name='nomad_authOptions']:checked");
        let option = null;
        if (selected.length > 0) {
            option = selected[0].value;
        }
        return option;
    }

    function get_consul_auth() {
        const selected = $("input[name='consul_authOptions']:checked");
        let option = null;
        if (selected.length > 0) {
            option = selected[0].value;
        }
        return option;
    }

    function manage_nomad_auth() {
        const option = get_nomad_auth();
        $('#nomad_acl_token_div').hide();
        if (option === 'none') {

        } else if (option === 'acl_token') {
            $('#nomad_acl_token_div').show();
        } else if (option === 'client_cert') {

        }
    }

    function manage_consul_auth() {
        const option = get_consul_auth();
        $('#consul_acl_token_div').hide();
        if (option === 'none') {

        } else if (option === 'acl_token') {
            $('#consul_acl_token_div').show();
        } else if (option === 'client_cert') {

        }
    }

    $(function() {
        // Set all passwords as hidden
        $(".toggle-password").each(function () {
            $(this).parents('.input-group').children('input').attr("type", "password")
            $(this).children('i').addClass("bi-eye");
        });

        $(".toggle-password").click(function (env) {
            const input_element = $(this).parents('.input-group').children('input');
            const type = input_element.attr("type") === "password" ? "text" : "password";
            input_element.attr("type", type);

            // toggle the icon
            $(this).children('i').toggleClass("bi-eye");
        });

        $("input[name='nomad_authOptions']").click(function (env) {
           manage_nomad_auth();
        });
        $("input[name='consul_authOptions']").click(function (env) {
           manage_consul_auth();
        });
        $(".action-btn").click(function (env) {
           const action = this.dataset['action'];
           let data = $('form').serializeArray();
           $.ajax({
               url: '',
               method: 'POST',
               headers: {'X-CSRFToken': csrftoken},
               data: data,
               success: function(data) {
                   if (data.hasOwnProperty('redirect_url')) {
                       $(location).attr("href", data['redirect_url']);
                   } else {
                       console.log(data['errors'])
                   }
               }
           });
        });
        // Handle Nomad authentication
        manage_nomad_auth();
        // Handle Consul authentication
        manage_consul_auth();
    });
</script>
{% endblock %}
