<div class="wrapper-label-step">
    <div class="label-step label-step1 {% if step == 1 %}active{% endif %}">
        <div class="label-step-number">1. Generic configuration</div>
    </div>
    <div class="label-step label-step2 {% if step == 2 %}active{% endif %}">
        <div class="label-step-number">2. Service configuration</div>
    </div>
    <div class="label-step label-step3 {% if step == 3 %}active{% endif %}">
        <div class="label-step-number">3. Load balancer</div>
    </div>
    <div class="label-step label-step3 {% if step == 4 %}active{% endif %}">
        <div class="label-step-number">4. Deploy services</div>
    </div>
    <div class="label-step label-step3 {% if step == 5 %}active{% endif %}">
        <div class="label-step-number">4. Deploy TeSLA</div>
    </div>
</div>