{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
<style>
    .logo {
        max-width: 200px;
    }
</style>
{% endblock %}

{% block extra_head_scripts %}

{% endblock %}
{% block content %}
    <div class="container">
        <form id="swarm" method="post" class="mt-4" autocomplete="off">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-12">
                    <div id="dep_env_swarm" class="card h-100">
                        <div class="card-body row">
                            <div class="col-md-4 align-content-center text-center">
                                <img src="{% static 'img/Moodle-1-740x380.png' %}" class="img-fluid rounded-start logo" alt="Moodle logo">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">TeSLA CE Moodle Information</h5>
                                <div class="form-group mb-2">
                                    <label for="{{ form.db_host.id_for_label }}">Database host</label>
                                    {{ form.db_host|add_class:"form-control"|attr:"aria-describedby: db_hostHelp"|attr:"placeholder: Database host"}}
                                    <small id="db_hostHelp" class="form-text text-muted">Database host of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.db_name.id_for_label }}">Database name</label>
                                    {{ form.db_name|add_class:"form-control"|attr:"aria-describedby: db_nameHelp"|attr:"placeholder: Database name"}}
                                    <small id="db_nameHelp" class="form-text text-muted">Database name of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.db_user.id_for_label }}">Database user</label>
                                    {{ form.db_user|add_class:"form-control"|attr:"aria-describedby: db_userHelp"|attr:"placeholder: Database user"}}
                                    <small id="db_userHelp" class="form-text text-muted">Database user of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.db_password.id_for_label }}">Database password</label>
                                    {{ form.db_password|add_class:"form-control"|attr:"aria-describedby: db_passwordHelp"|attr:"placeholder: Database password"}}
                                    <small id="db_passwordHelp" class="form-text text-muted">Database password of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.db_prefix.id_for_label }}">Database prefix table</label>
                                    {{ form.db_prefix|add_class:"form-control"|attr:"aria-describedby: db_prefixHelp"|attr:"placeholder: Database prefix table"}}
                                    <small id="db_prefixHelp" class="form-text text-muted">Database prefix table of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.cron_internal.id_for_label }}">Cron interval</label>
                                    {{ form.cron_internal|add_class:"form-control"|attr:"aria-describedby: cron_internalHelp"|attr:"placeholder: Database cron interval"}}
                                    <small id="cron_internalHelp" class="form-text text-muted">Cron interval of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.full_name.id_for_label }}">Full name</label>
                                    {{ form.full_name|add_class:"form-control"|attr:"aria-describedby: full_nameHelp"|attr:"placeholder: Full name"}}
                                    <small id="full_nameHelp" class="form-text text-muted">Full name of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.short_name.id_for_label }}">Short name</label>
                                    {{ form.short_name|add_class:"form-control"|attr:"aria-describedby: short_nameHelp"|attr:"placeholder: Short name"}}
                                    <small id="short_nameHelp" class="form-text text-muted">Short name of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.summary.id_for_label }}">Summary</label>
                                    {{ form.summary|add_class:"form-control"|attr:"aria-describedby: summaryHelp"|attr:"placeholder: Summary"}}
                                    <small id="summaryHelp" class="form-text text-muted">Summary of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.admin_email.id_for_label }}">Admin email</label>
                                    {{ form.admin_email|add_class:"form-control"|attr:"aria-describedby: admin_emailHelp"|attr:"placeholder: Admin email"}}
                                    <small id="admin_emailHelp" class="form-text text-muted">Admin email of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.admin_user.id_for_label }}">Admin user</label>
                                    {{ form.admin_user|add_class:"form-control"|attr:"aria-describedby: admin_userHelp"|attr:"placeholder: Admin user"}}
                                    <small id="admin_userHelp" class="form-text text-muted">Admin user of Moodle instance.</small>
                                </div>
                                <div class="form-group mb-2">
                                    <label for="{{ form.admin_password.id_for_label }}">Admin user</label>
                                    {{ form.admin_password|add_class:"form-control"|attr:"aria-describedby: admin_passwordHelp"|attr:"placeholder: Admin password"}}
                                    <small id="admin_passwordHelp" class="form-text text-muted">Admin password of Moodle instance.</small>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div id="actions" class="mt-4 text-center">
            <button type="submit" class="btn btn-success action-btn">Next</button>
        </div>
    </div>
{% endblock %}
{% block js %}
{% csrf_token %}
<script>
    // CSRF value
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

    $(function() {
        $(".action-btn").click(function (env) {
           const action = this.dataset['action'];
           let data = $('form').serializeArray();
           $.ajax({
               url: '',
               method: 'POST',
               headers: {'X-CSRFToken': csrftoken},
               data: data,
               success: function(data) {
                   if (data.hasOwnProperty('redirect_url')) {
                       $(location).attr("href", data['redirect_url']);
                   } else {
                       console.log(data['errors'])
                   }
               }
           });
        });
    });
</script>
{% endblock %}
