{% load static %}
{% load widget_tweaks %}
<div class="col-sm-12">
    <div class="card h-100">
        <div class="card-body row">
            <div class="col-md-4 align-content-center text-center">
                <img src="{% static 'img/Server-DB.svg' %}" class="img-fluid rounded-start logo" alt="Database image">
            </div>
            <div class="col-md-8">
                <h5 class="card-title">Database configuration</h5>
                <div class="form-group mb-2">
                    <label for="db_host">Host</label>
                    {{ form_db.database_host|add_class:"form-control"|attr:"type : url"|attr:"aria-describedby: db_hostHelp"|attr:"placeholder: Host"}}
                    <small id="db_hostHelp" class="form-text text-muted">Database host</small>
                </div>
                <div class="form-group mb-2">
                    <label for="db_port">Port</label>
                    {{ form_db.database_port|add_class:"form-control"|attr:"type : url"|attr:"aria-describedby: db_portHelp"|attr:"placeholder: Port"}}
                    <small id="db_portHelp" class="form-text text-muted">Database port</small>
                </div>
                <div class="form-group mb-2">
                    <label for="db_engine">Engine</label>
                    {{ form_db.database_engine|add_class:"form-select"|attr:"type : url"|attr:"aria-describedby: db_engineHelp"|attr:"placeholder: Engine"}}
                    <small id="db_engineHelp" class="form-text text-muted">Database engine</small>
                </div>
                <div class="form-group mb-2">
                    <label for="db_name">Name</label>
                    {{ form_db.database_db_name|add_class:"form-control"|attr:"type : url"|attr:"aria-describedby: db_nameHelp"|attr:"placeholder: Name"}}
                    <small id="db_nameHelp" class="form-text text-muted">Database name</small>
                </div>
                <div class="form-group mb-2">
                    <label for="db_user">User</label>
                    {{ form_db.database_db_user|add_class:"form-control"|attr:"type : url"|attr:"aria-describedby: db_nameHelp"|attr:"placeholder: User"}}
                    <small id="db_userHelp" class="form-text text-muted">Database user</small>
                </div>
                <div class="form-group mb-2">
                    <label for="db_password">Password</label>
                    {{ form_db.database_db_password|add_class:"form-control"|attr:"type : url"|attr:"aria-describedby: db_passwordHelp"|attr:"placeholder: Password"}}
                    <small id="db_passwordHelp" class="form-text text-muted">Database password</small>
                </div>
                <div class="form-group mb-2">
                    <label for="db_root_password">Root password</label>
                    {{ form_db.database_db_root_password|add_class:"form-control"|attr:"type : url"|attr:"aria-describedby: db_root_passwordHelp"|attr:"placeholder: Root password"}}
                    <small id="db_root_passwordHelp" class="form-text text-muted">Database root password</small>
                </div>
            </div>
        </div>
    </div>
</div>
