{% load static %}
<!-- Service Information Download Modal -->
<div class="modal fade" id="service_modal_dialog" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <p>To manually deploy the service, download the deployment scripts and follow provided instructions.</p>
                <div class="text-center">
                    <a id="service_modal_dialog_file" href="" role="button" class="btn btn-secondary" aria-label="Download Scripts">Download Scripts</a>
                </div>
                <div class="m-4" id="service_modal_commands">

                </div>
            </div>
            <div class="modal-footer" data-prismjs-copy-timeout="500">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Close</button>
            </div>
        </div>
    </div>
</div>
<table class="table table-stripped">
    <thead>
        <th>Service</th>
        {% if options.catalog == 'consul' %}
        <th>Jobs</th>
        <th>Services</th>
        {% else %}
        <th>Jobs</th>
        <th>Instances</th>
        {% endif %}
        <th>Status</th>
        <th class="global-actions-bloc text-right">
            <button type="button" class="btn btn-sm btn-light global-action" data-action="refresh_all">
                <i class="bi bi-arrow-repeat"></i>
            </button>
            <button type="button" class="btn btn-sm btn-light global-action" data-action="remove_all">
                <i class="bi bi-trash2-fill"></i>
            </button>
            <button type="button" class="btn btn-sm btn-light global-action" data-action="deploy_all">
                <i class="bi bi-stars"></i>
            </button>

        </th>
    </thead>
    <tbody>
        {% for service in services %}
        <tr class="service-deploy-row" data-service="{{ service }}">
            <td class="service-deploy-name" data-service="{{ service }}">{{ service }}</td>
            <td class="service-deploy-jobs" data-service="{{ service }}"></td>
            <td class="service-deploy-instances" data-catalog="{{ options.catalog }}" data-service="{{ service }}"></td>
            <td class="service-deploy-status" data-service="{{ service }}"></td>
            <td class="service-deploy-actions text-right" data-service="{{ service }}">
                <button type="button" class="btn btn-sm btn-secondary service-action" data-service="{{ service }}" data-action="refresh">
                    <i class="bi bi-arrow-repeat"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary service-action" data-service="{{ service }}" data-action="download">
                    <i class="bi bi-cloud-download"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary service-action" data-service="{{ service }}" data-action="remove">
                    <i class="bi bi-trash2-fill"></i>
                </button>
                <button type="button" class="btn btn-sm btn-secondary service-action" data-service="{{ service }}" data-action="deploy">
                    <i class="bi bi-stars"></i>
                </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<span class="m-2"><i class="bi bi-arrow-repeat"></i> Refresh status</span>
<span class="m-2"><i class="bi bi-cloud-download"></i> Download scripts</span>
<span class="m-2"><i class="bi bi-trash2-fill"></i> Remove service</span>
<span class="m-2"><i class="bi bi-stars"></i> Automatic deployment</span>
