
{% load static %}
<table class="table table-stripped" id="tesla_configuration_log_table">
    <thead>
    <th>Created at</th>
    <th>Task Code</th>
    <th>Status</th>
    <th>Trace</th>
    </thead>
    <tbody>

    </tbody>
</table>
<div class="modal" tabindex="-1" id="trace_modal">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Trace information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>